{% extends "homebase.html" %}
{% load staticfiles %}
{% block title %} User training history {% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'assets/js/jquery.raty-fa.js' %}"></script>

<script type="text/javascript">
<!--

function refresh_rating(){
    $('.course-rating').raty({
        score: function() {
            return $(this).attr('data-rating');
        },
        click: function(score, evt) {
            $.post("{% url 'learn:ajax_rate_courses' %}", {
                                event:  $(this).attr("data-event"),
                                score: score
            });
        }
    });
}

function load_history(){
    $.ajax({
        url: '{% url 'learn:ajax_load_history' %}',
        type: "GET",
        data: { },
        dataType: "text",
        success: function (data) {
            if (data == ""){
                $("#course_div").html("<h3>Currently no scheduled courses.</h3>");
            } else if (data == "fail") {
                alert("Failed to load the course. Please try again.");
            }else {
                $("#course_div").html(data);
                refresh_rating();
            }
        },
        error: function (erro) {
            alert("Unable to load the course at the moment. Please try refreshing the page.");
        }
    });
}

$(document).ready(function() {
    load_history();
});

$(document).on('click','.completebutton', function() {
    event.preventDefault();
    var eventid = $(this).attr("data-course");
    $.ajax({
        url: '{% url 'learn:ajax_complete_event' %}',
        type: "GET",
        data: { 'eventid': eventid },
        dataType: "text",
        success: function (data) {
            if (data == ""){
                $("#course_div").html("<h3>Currently no scheduled courses.</h3>");
            } else if (data == "fail") {
                alert("Failed to remove the course. Please try again.");
            }else {
                $("#course_div").html(data);
                refresh_rating();
            }
        },
        error: function (erro) {
            alert("Unable to remove the course at the moment. Please try again.");
        }
    });
});

// $(document).on('submit','.historyform', function(event){
$(document).on('click','.removebutton', function() {
    event.preventDefault();
    var eventid = $(this).attr("data-course");
    /*$.ajax({
        url: '{% url 'learn:ajax_remove_event' %}',
        type: "GET",
        data: { 'eventid': eventid },
        dataType: "text",
        success: function (data) {
            if (data == ""){
                $("#course_div").html("<h3>Currently no scheduled courses.</h3>");
            } else if (data == "fail") {
                alert("Failed to remove the course. Please try again.");
            }else {
                $("#course_div").html(data);
                refresh_rating();
            }
        },
        error: function (erro) {
            alert("Unable to remove the course at the moment. Please try again.");
        }
    });*/
});
//-->
</script>
{% endblock extra_js %}

{% block content %}
    <div class="container-fluid g-py-40 g-px-100">
        <div class="row justify-content-md-center">
            <div class="col">Course</div>
            <div class="col">Started on</div>
            <div class="col">Date of completion</div>
            <div class="col-1">Frequency</div>
            <div class="col">Certificate</div>
            <div class="col">Rate this course</div>
            <div class="col">Feedback</div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <hr class="g-brd-gray-light-v4" />
        <div id="course_div">
        </div>
    </div>
{% endblock content %}