{% extends "homebase.html" %}
{% load staticfiles %}
{% block title %} User Dashboard {% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).on('change','#id_category',function() {
        var url = $("#filterform").attr("data-subcats-url");
        var catid = $(this).val();
        if (catid == "" ) {
            $("#id_subcategory").html('');
        } else {
            $.ajax({
                url: url,
                data: {
                    'category': catid
                },
                success: function (data) {
                    $("#id_subcategory").html(data);
                }
            });
        }
    });

</script>

<script type="text/javascript">
    $("#filterform").submit(function(event){
        event.preventDefault(); //so that we stop normal form submit.
        var url = $("#filterform").attr("data-filter-url");
        var catid = $('#id_category').val();
        var subcatid = $('#id_subcategory').val();
        var providerid = $('#id_provider').val();

        $.ajax({
            url: url,
            data: {
                'category': catid,
                'subcategory': subcatid,
                'provider': providerid
            },
            success: function (data) {
                if (data == ""){
                    $("#course_list_div").html("<h3>Currently no available courses. Please check back later.</h3>");
                } else {
                    $("#course_list_div").html(data);
                }
            },
            error: function (erro) {
                $("#course_list_div").html("<h3>Currently no available courses. Please check back later.</h3>");
            }
        });
    });
</script>
{% endblock %}

{% block content %}
    <div class="container-fluid g-py-40 g-px-100">

        <form method="post" id="filterform" data-subcats-url="{% url 'learn:ajax_load_subcats' %}" data-filter-url="{% url 'learn:ajax_load_courses' %}" novalidate>
            {% csrf_token %}
            <div class="row g-mb-40">
                <div class="col-md-4"><strong>{{ form.category.label }}</strong> {{ form.category }}</div>
                <div class="col-md-4"><strong>{{ form.subcategory.label }}</strong> {{ form.subcategory }}</div>
                <div class="col-md-4"><strong>{{ form.provider.label }}</strong> {{ form.provider }}</div>
            </div>
            <div class="row g-mb-20">
                <div class="col-md-4">
                    <button type="submit" class="btn-u" id="id_go">Go</button>
                </div>
            </div>
            <hr />
            <div id="course_list_div">
                <h3>Select from the above filtering criteria to see available courses</h3>
            </div>
        </form>
    </div>
{% endblock content %}