{% extends "homebase.html" %}
{% load staticfiles %}
{% block title %} User Dashboard {% endblock %}

{% block extra_css %}
    <link rel='stylesheet' type='text/css' href="{% static 'fullcalendar/fullcalendar.min.css' %}" />
{% endblock %}

{% block extra_js %}
    <script type='text/javascript' src="{% static 'fullcalendar/moment.js' %}"></script>
    <script type='text/javascript' src="{% static 'fullcalendar/bootstrap-datetimepicker.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'fullcalendar/fullcalendar.min.js' %}"></script>
{% endblock %}

{% block js %}

<script type="text/javascript">
    $(document).on('change','#id_category',function() {
        var url = $("#filterform").attr("data-subcats-url");
        var catid = $(this).val();
        if (catid == "" ) {
            $("#id_subcategory").html('');
        } else {
            $.ajax({
                url: url,
                data: {
                    'category': catid
                },
                success: function (data) {
                    $("#id_subcategory").html(data);
                }
            });
        }
    });

</script>

<script type="text/javascript">
    function refresh_calendar(userid, calendar_slug){
        if (calendar_slug != "" ){
            $('#calendar').fullCalendar({
                defaultView: 'listYear',
                timeZone: 'UTC',
                themeSystem: 'bootstrap4',
                header: {
                    left: 'prev,next',
                    center: 'title',
                    right: ''
                },
                eventLimit: true,
                events: '/schedule/api/occurrences?calendar_slug=' + calendar_slug
            });
        } else {
            $('#calendar').fullCalendar({
                defaultView: 'listYear',
                timeZone: 'UTC',
                themeSystem: 'bootstrap4',
                header: {
                    left: 'prev,next',
                    center: 'title',
                    right: ''
                }
            });
        }
        $('#calendar').fullCalendar( 'refetchEvents' );
    }

    $(document).ready(function() {
        // page is now ready, initialize the calendar...
        $.ajax({
            url: '{% url 'learn:ajax_init_calendar' %}',
            type: "GET",
            data: {},
            dataType: "text",
            success: function (data) {
                refresh_calendar('{{user.id}}', data);
            },
            error: function (erro) {
                refresh_calendar('{{user.id}}', "");
            }
        });

        $("#id_topic").autocomplete({
            source: "/learn/ajax/topic/autocomplete/",
            minLength: 2,
            open: function(){
                setTimeout(function () {
                    $('.ui-autocomplete').css('z-index', 99);
                }, 0);
            }
        });
    });
    $("#filterform").submit(function(event){
        event.preventDefault(); //so that we stop normal form submit.
        var topic = $('#id_topic').val();
        var difficulty = $('#id_difficulty').val();
        var duration = $('#id_duration').val();
        doSearch(topic, difficulty, duration);

        <!--$.ajax({-->
            <!--url: url,-->
            <!--data: {-->
                <!--'topic': topic,-->
                <!--'difficulty': difficulty,-->
            <!--},-->
            <!--success: function (data) {-->
                <!--if (data == ""){-->
                    <!--$("#course_list_div").html("<h3>Currently no available courses. Please check back later.</h3>");-->
                <!--} else {-->
                    <!--$("#course_list_div").html(data);-->
                <!--}-->
            <!--},-->
            <!--error: function (erro) {-->
                <!--$("#course_list_div").html("<h3>Currently no available courses. Please check back later.</h3>");-->
            <!--}-->
        <!--});-->
    });


    function invokeSearch( searchstring, difficulty ){
        $('#id_topic').val(searchstring);
        $('#id_difficulty').val(difficulty);
        doSearch(searchstring, difficulty, 0);
    }

    function doSearch ( topic, difficulty, duration){
        $.ajax({
            url: "{% url 'learn:ajax_load_courses' %}",
            data: {
                'topic': topic,
                'difficulty': difficulty,
                'duration': duration
            },
            success: function (data) {
                if (data == ""){
                    $("#course_list_div").html("<h3>Currently no available courses. Please check back later.</h3>");
                } else {
                    $("#course_list_div").html(data);
                }
            },
            error: function (erro) {
                $("#course_list_div").html("<h3>Currently no available courses. Please check back later.</h3>");
            }
        });
    }

    $(document).on('submit','.scheduleform', function(event){
        event.preventDefault(); //so that we stop normal form submit.

        var btn = $(this).closest('.row').find('.schedulebutton');
        var duration_input = $(this).closest('.row').find('#duration');
        var start = $(this).closest('.row').find('#start_date');
        var url = $(this).attr("data-schedule-url");
        var courseid = btn.attr("data-item-id");
        var startdate = start.val();
        if (startdate == ""){
            alert("You need to mention the start date");
        } else {
            var duration = duration_input .val();
            if (duration == ""){
                alert("You need to mention number of hours per day");
            } else {
                //alert (url + " " + courseid + " " + duration + " " + startdate);
                $.ajax({
                    url: url,
                    data: {
                        'courseid': courseid,
                        'duration': duration,
                        'startdate': startdate
                    },
                    dataType: "text",
                    success: function (data) {
                        //alert("success");
                        refresh_calendar('{{user.id}}', data);
                    },
                    error: function (erro) {
                        alert("Scheduler is not available. Please check back later.");
                    }
                });
            }
        }
    });

</script>
{% endblock %}

{% block content %}
    <div class="container-fluid g-py-40 g-px-100">
        <div class="row">
            <div class="col">
                <div class="row g-mb-40">
                    <div class="col-2">User: <br />{{ user.first_name }} {{ user.last_name }}</div>
                    <div class="col">Current skill Goals: <br />
                    {% for ug in goals %}
                        <a href="#" onclick="invokeSearch('{{ ug.skill_goal }}', {{ ug.difficulty}}); return false;">{{ ug.skill_goal }}</a> - {{ ug.GetDifficultyName }}<br />
                    {% endfor %}
                    </div>
                </div>
                <hr />
                <form method="post" id="filterform" data-filter-url="{% url 'learn:ajax_load_courses' %}" novalidate>
                {% csrf_token %}
                    <div class="row g-mb-40">
                        <div class="col-md-4"><strong>{{ form.topic.label }}<br /></strong> {{ form.topic }}</div>
                        <div class="col-md-4"><strong>{{ form.difficulty.label }}</strong> {{ form.difficulty }}</div>
                        <div class="col-md-4"><strong>{{ form.duration.label }}</strong> {{ form.duration }}</div>
                    </div>
                    <div class="row g-mb-20">
                        <div class="col-md-4">
                            <button type="submit" class="btn-u" id="id_go">Go</button>
                        </div>
                    </div>
                </form>
                <hr />

                <div id="course_list_div">
                    <h3>Select from the above filtering criteria to see available courses</h3>
                </div>

            </div>
            <div class="col">
                <div id="calendar" class="fc fc-bootstrap4 fc-ltr"></div>
            </div>
        </div>

    </div>
{% endblock content %}`