{% extends "homebase.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load mptt_tags %}

{% block title %} User Settings {% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="{% static 'assets/css/custom.css'%}">
{% endblock %}

{% block  extra_js %}
{% endblock %}
{% block js %}
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.formset_n.js' %}"></script>
<script type="text/javascript">
function initFormset(){
    $('.formset_row-{{ formset.prefix }}').formset({
        addText: 'add another',
        deleteText: 'remove',
        prefix: '{{ formset.prefix }}',
    });
}

function setupAutoComplete(){
    $("input.hint").autocomplete({
        source: "{% url 'learn:ajax_hint_objective' %}",
        minLength: 2,
        open: function(){
            setTimeout(function () {
                $('.ui-autocomplete').css('z-index', 99);
            }, 0);
        }
    });
    $("input.krhint").autocomplete({
        source: "{% url 'learn:ajax_hint_kr' %}",
        minLength: 2,
        open: function(){
            setTimeout(function () {
                $('.ui-autocomplete').css('z-index', 99);
            }, 0);
        }
    });
}

function initFormData(){
    initFormset();
    setupAutoComplete();
    populateMyOKRs();
}
$(document).ready(initFormData);

function updateFormFields (data){
   // clearForm ($("#okr_form"));
    $("#okr_form").html(data);
    initFormset();
    populateMyOKRs();
}

function populateMyOKRs(){
    $.ajax({
        url: '{% url 'learn:ajax_list_my_okr' %}',
        type: "GET",
        dataType: "html",
        success: function (data) {
            $("#myokr").html(data);
        },
        error: function (erro)  {
            alert(erro.responseText);
        }
    });
}

$(document).on('submit','form', function() {
    event.preventDefault();
    var frm = $('#obj_form');
    var objective = $("#id_name").val();
    $.ajax({
        url: '{% url 'learn:ajax_save_okr' %}',
        type: "POST",
        enctype: 'multipart/form-data',
        data: frm.serialize(),
        success: function (data) {
            alert ("Successfully updated OKRs");
            updateFormFields(data);
        },
        error: function (erro)  {
            alert(erro.responseText);
        }
    });
});
$(document).on('click', '.o_del', function() {
    if (confirm('Are you sure ?')) {
        var okrid = $(this).attr("data-okr-id");
        $.ajax({
            url: '{% url 'learn:ajax_del_okr' %}',
            data: {
                'okrid': okrid
            },
            dataType: "text",
            success: function (data) {
                alert ("Successfully deleted OKR");
                populateMyOKRs();
            },
            error: function (erro) {
                alert("Delete failed. Please try again later.");
            }
        });
    } });

</script>
{% endblock %}

{% block content %}
    <div class="container g-py-40 g-px-100">
        <h2 id="user_name">{{ user.first_name }} {{ user.last_name }}</h2>
        <h4>Department: {{ user.org.name }}</h4>
        <p></p>
        <div class="row">
            <div class="col-md-8">
            <form method="post" id="obj_form">
            {% csrf_token %}
                <div id="okr_form">
                    <h4>Select Objective</h4>
                    {% for hidden in form.hidden_fields %}
                      {{ hidden }}
                    {% endfor %}

                    {% for field in form.visible_fields %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field|add_class:'form-control hint'|attr:"data-src:1" }}
                            {% for error in field.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endfor %}

                    <h4>Add Keyresults</h4>
                    <table class="col-md-12 table-spaced">
                        {{ formset.management_form }}

                        {% for form in formset.forms %}
                            <tr class="{% cycle 'row1' 'row2' %} formset_row-{{ formset.prefix }}">
                                {% for field in form.visible_fields %}
                                <td>
                                    {# Include the hidden fields in the form #}
                                    {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field|add_class:'form-control krhint'|attr:"data-src:2" }}
                                </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}

                    </table>
                </div>
                <input type="submit" value="Save" id="savebutton" />
            </form>
            </div>
            <div class="col-md-4" style="padding-left:40px;">
                <h2>Current OKRs</h2>
                <div id="myokr"></div>
            </div>
        </div>
    </div>
{% endblock content %}