{% for event in events %}
    <form method="post" class="historyform" novalidate>
        {% csrf_token %}
        <article>
            <header class="g-my-15">
                <h2 class="h4 g-mb-5">
                    <span class="g-color-gray-dark-v1"><i class="icon-graduation g-color-brown"></i> {{event.title}}</span> &nbsp;&nbsp;
                    <a class="btn btn-sm u-btn-mocha g-rounded-50 g-mr-10 g-mb-15" href="#">{{event.courseuserrelation_set.first.completion_state}}</a>
                </h2>
            </header>
            <div class="d-lg-flex justify-content-between align-items-center">
                <ul class="list-inline g-mb-10 g-mb-0--lg">
                    <li class="list-inline-item g-mr-30">
                        <span><i class="icon-calendar g-pos-rel g-top-1 g-color-blue g-mr-5"></i>Start - {{event.start}} </span>
                    </li>
                    <li class="list-inline-item g-mr-30">
                        <span><i class="icon-calendar g-pos-rel g-top-1 g-color-blue g-mr-5"></i>Until: {{event.end_recurring_period}}</span>
                    </li>
                    <li class="list-inline-item g-mr-30">
                        {%if course.tags != "learn.CourseTag.None" %}
                            <i class="icon-clock g-pos-rel g-top-1 g-color-blue g-mr-5"></i> {{event.rule.frequency}}
                        {%endif%}
                    </li>
                    <li class="list-inline-item g-mr-30">
                        <img src="{{event.courseuserrelation_set.first.course.provider.logo}}" style="height:20px;" alt="{{event.courseuserrelation_set.first.course.provider.name}}" title="{{event.courseuserrelation_set.first.course.provider.name}}" />
                    </li>
                </ul>
            </div>
            <div class="d-lg-flex align-content-start g-mt-20">
                <ul class="list-inline g-mb-10 g-mb-0--lg">
                    <li class="list-inline-item g-mr-30">Rate this course: <span id="coursediv" class="course-rating" data-event="{{event.id}}" data-rating="{{event.courseuserrelation_set.first.rating}}"></span></li>
                    <li class="list-inline-item g-mr-30">
                        <label for="certupload"> Select the certificate file to upload</label>&nbsp;&nbsp;<input type="file" id="certupload">
                    </li>
                    <li class="list-inline-item g-mr-30" style="width:60%;">
                        <label class="g-mb-10" for="ta_comment">Feedback</label>
                        <textarea class="form-control form-control-md" id="ta_comment" placeholder="add any feedback that you may have on this course." rows="3"></textarea>
                    </li>
                </ul>
            </div>
            <div class="d-lg-flex g-my-20">
                <ul class="list-inline g-mb-10 g-mb-0--lg">
                    <li class="list-inline-item g-mr-30">
                        <button type="submit" class="savebutton btn u-btn-darkgreen" name="save" id="id_save" data-course="{{event.id}}">
                            <i class="fa fa-check-circle g-mr-3"></i> Save changes</button>
                    </li>
                    <li class="list-inline-item g-mr-30">
                        <button type="submit" class="removebutton btn u-btn-darkgreen" name="remove" id="id_remove" data-course="{{event.id}}">
                            <i class="fa fa-times-circle g-mr-3"></i> Remove</button>
                    </li>
                </ul>
            </div>
        </article>

        <hr class="g-brd-gray-dark-v4 g-my-5" />
    </form>
{% endfor %}