{% for event in events %}
    <form method="post" class="historyform" novalidate>
        {% csrf_token %}
        <div class="row justify-content-md-center">
            <div class="col">{{event.title}}</div>
            <div class="col">{{event.start}}</div>
            <div class="col">{{event.end_recurring_period}}</div>
            <div class="col-1">{{event.rule.frequency}}</div>
            <div class="col"><label for="certupload"> Select the certificate file to upload</label>&nbsp;&nbsp;<input type="file" id="certupload"></div>
            <div class="col"><span id="coursediv" class="course-rating" data-event="{{event.id}}" data-rating="{{event.courseuserrelation_set.first.rating}}"></span></div>
            <div class="col"><textarea class="form-conrol" placeholder="add any feedback that you may have on this course." cols="50"></textarea></div>
            <div class="col-1">
                {% if event.courseuserrelation_set.first.is_complete %}
                    <i class="icon-check g-color-red g-pos-rel g-top-1 g-mr-5"></i> <strong class="g-color-green">Completed</strong>
                {% else %}
                    <button type="submit" class="completebutton btn btn-light lightmoss-background buttonface-dark g-mr-20" name="complete" id="id_complete" data-course="{{event.id}}">Mark as Done</button>
                {% endif %}
            </div>
            <div class="col-1">
                <button type="submit" class="removebutton btn btn-light lightmoss-background buttonface-dark" name="remove" id="id_remove" data-course="{{event.id}}">Remove</button>
            </div>
        </div>
        <hr class="g-brd-gray-light-v4" />
    </form>
{% endfor %}