{% load widget_tweaks %}
<h4>Select Objective</h4>
{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}

{% for field in form.visible_fields %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>
{% endfor %}

<h4>Add Keyresults</h4>
<table class="col-md-12 table-spaced">
    {{ formset.management_form }}

    {% for form in formset.forms %}
        <tr class="{% cycle 'row1' 'row2' %} formset_row-{{ formset.prefix }}">
            {% for field in form.visible_fields %}
            <td>
                {# Include the hidden fields in the form #}
                {% if forloop.first %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                {% endif %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
            </td>
            {% endfor %}
        </tr>
    {% endfor %}

</table>