packages:
  yum:
    yum-utils : []
    libjpeg-turbo-devel : []
    zlib-devel : []
    libpng-devel : []
    monit : []

files:
  /etc/monit.conf:
    mode: "000700"
    owner: root
    group: root
    content: |
      set daemon 30
          with start delay 300
      set logfile /var/log/monit.log
      set statefile /var/lib/monit/state
      set eventqueue
          basedir /var/lib/monit/events # set the base directory where events will be stored
          slots 100                     # optionally limit the queue size
      set httpd port 3132
          allow ammon:35mon
      check process httpd with pidfile /var/run/httpd/httpd.pid
          start program = "/sbin/shutdown -r now" with timeout 60 seconds
          stop program  = "/etc/init.d/httpd stop"
          if failed
             port 443
          then restart
          # if 5 restarts within 5 cycles
          # then timeout

  /etc/httpd/conf.d/basic.conf:
    mode: "000777"
    owner: root
    group: root
    content: |
      LogFormat "%h %l %u %t \"%r\" %>s %T %{pid}P %{tid}P %b \"%{Referer}i\" \"%{User-agent}i\"" combined

      <VirtualHost *:80>
        Alias /static /opt/python/current/app/psweb/static/
        <Directory /opt/python/current/app/psweb/static/>
            Options FollowSymlinks
            AllowOverride none
            Require all granted
         </Directory>

        LoadModule wsgi_module modules/mod_wsgi.so
        WSGIScriptAlias / /opt/python/current/app/psweb/wsgi.py

        <Directory /opt/python/current/app/>
            Options FollowSymlinks
            AllowOverride none
            Require all granted
        </Directory>

        WSGIDaemonProcess wsgi-ssl processes=1 threads=15 display-name=%{GROUP} \
          python-path=/opt/python/current/app:/opt/python/run/venv/lib/python3.6/site-packages user=wsgi group=wsgi \
          home=/opt/python/current/app
        WSGIProcessGroup wsgi
        WSGIPassAuthorization On
      </VirtualHost>

  /etc/environment:
    mode: "000644"
    owner: root
    group: root
    content: |
      LD_LIBRARY_PATH=/usr/lib/jvm/java/jre/lib/amd64/server:$LD_LIBRARY_PATH
  /etc/default/monit:
    mode: "000700"
    owner: root
    group: root
    content: |
      startup=1
commands:
  03_remove_props:
    command: "unset AWS_ACCESS_KEY_ID"
    command: "unset AWS_SECRET_KEY"

container_commands:
  02_collectstatic:
    command: "django-admin.py collectstatic --noinput"
  03_initctl:
    command: "initctl start supervisord"
    ignoreErrors: true
  05_monit:
    command: "/etc/init.d/monit start"
    ignoreErrors: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: pwseb/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: psweb.settings
